Analysis/
History/
Macro/Old/
Python-OldGIT/
Results/Lib_Compare*
Python/.vs/
Python/Mailbox/Outbox/*
!Python/Mailbox/Outbox/Holdme
Library/Debug*
Share/Share.zip
csv/Eia_Hourly/Latest/max_MWh_values_yearly/*.csv
csv/Eia_Hourly/Latest/MWh_values/*.csv
.vscode/

#excel temp files
**/~$*

/csv/Eia_Hourly/Previous
