
History/
Results/Lib_Compare*
Python/.vs/
Python/Mailbox/Outbox/*
!Python/Mailbox/Outbox/Holdme
Library/Debug*
Share/Share.zip

csv/Eia_Hourly/**
!csv/Eia_Hourly/Latest/
!csv/Eia_Hourly/Latest/**

.vscode/
Python/__pycache__/
Python/__pycache__/**

#excel temp files
**/~$*

